{
    "source": {
        "teamserverUrl": "https://source_instance",
        "apiKey": "<source_user_API_Key>",
        "authorizationHeader": "<source_admin_user_auth_header>",
        "orgId": "<source_org_id>"
    },
    "destination": {
        "teamserverUrl": "http://dest_instance",
        "apiKey": "<dest_user_API_key>",
        "authorizationHeader": "<dest_admin_user_auth_header>",
        "orgId": "<dest_org_id>"
    }
}
