:root {
    --brand-primary: #EF898B;
  }
  
  body {
    background-color: white !important;
  }
  
  .hero {
    padding: 0 2rem;
  }

  .tagify {
    --tag--max-width: 5ch
  }

  .tagify-failure {
    --tags-border-color: hsl(7, 83%, 39%);
    --tags-focus-border-color: hsl(7, 83%, 39%);
    --tags-hover-border-color: hsl(7, 83%, 39%);
  }
  