{{- if .Values.highPriority.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hp.name" . }}
  labels:
    monitoring-metrics: enabled
    {{- include "hp.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: {{ .Values.service.protocol }}
      name: {{ .Values.service.name | default "http" }}
  selector:
    {{- include "hp.selector.labels" . | nindent 4 }}
{{- end }}
